<style type="text/css">
.vkimg
  {
  margin:6px;
  border:1px solid #bebebe;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }

.vkimg img
  {
  display:inline;
  margin:6px;
  border:1px solid #bebebe;
  }
.vkimg a:hover img
  {
  border:3px solid white;
  }

.vktext
  {
  color:white;
  text-align:center;
  font-weight:normal;
  width:150px;
  font-size:12px;
  margin:10px 5px 10px 5px;
  }

.vkcenter
  {
  margin:auto;
  width:80%;
  border:3px solid white;
  }
.clear 
  {
  clear: both;
  }
</style>